/* Css Module for Editor */

.editor {
  width: calc(100% - 40px);
  height: auto;
  padding: 10px 20px;
  border-bottom: 1px solid #cacaca;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.editorInput {
  width: calc(100% - 110px);
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 0 10px;
}

.editorBtnAdd {
  width: auto;
  padding: 5px 20px;
  border-radius: 5px;
  background-color: #3e4bff;
  color: #fff;
  font-size: 14px;
  font-family: "Poppins-Medium";
  border: 0;
}

.editorBtnAdd:hover {
  cursor: pointer;
}